.container{
    width: 1000px;
    margin: 0 auto;

    h1{
        color: #573615;
        font-size: 22px;
        font-weight: bold;
    }

    p{
        color: #333333;
        font-size: 12px;
    }

    .into{
        float: left;
        width: 600px;
        margin-right: 70px;
    }

    .first-block{
        float: left;
        margin-right: 80px;
    }

    .item-news{
        padding-bottom: 20px;

        .image-block{
            width: 242px;
            float: left;
            margin-right: 60px;

            img{
                width: 100%;
            }
        }     

        &:after{
            display: table;
            content: " ";
            clear: both;
        }
    }

    .video-block{
        padding: 0 0 30px 0;
    }

    .footer-section{
        padding-top: 40px;

        button{
            float: left;
            margin-right: 15px;
            vertical-align: middle;
        }

        h1{
            float: left;
            vertical-align: middle;
            margin: 0;
            padding: 0;
        }
    }

    ul{
        padding-left: 60px;

        li{
            margin-bottom: 10px;
        }
    }

    .left-block{
        float: left;
        text-align: left;
    }

    .right-block{
        float: right;
        text-align: right;
    }
    .clear{
        display: table;
        clear: both;
    }

    .form-block{
        border: 1px solid #99bad7;
        border-radius: 3px;
        width: 580px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #f1f5fa;

        .form-head{
            height: 42px;
            width: 100%;
        }

        .form-content{
            background-color: #FFFFFF;
            padding: 15px;
            border-radius: 3px;
            border: 1px solid #99bad7;
            border-left: 0;
            border-right: 0;

            .form-group{
                margin-bottom: 10px;
                
                .label-side{
                    width: 160px;
                    display: inline-block;
                    vertical-align: top;
                    
                    label{
                        font-weight: normal;
                        color: #333333;
                        font-size: 12px;
                        line-height: 28px; 
                    }
                }
                
                .input-side{
                    width: 354px;
                    display: inline-block;
                    
                    input, textarea{
                        border-radius: 3px;
                        box-shadow: none;
                        border: 1px solid #a9a9a9;
                        font-size: 16px;
                        padding: 5px;
                        width: 100%;
                    }
                }
                
                &:after{
                    display: table;
                    content: " ";
                    clear: both;
                }
            }
        }
        .button-form{
            height: auto;
            padding: 10px 15px;
            
            .btn-andro{
                padding: 4px 40px;
                border-radius: 3px;
            }
        }
    }
}
.first-step{
    padding-top: 60px;
    background-color: #f4ffec;

    &.three{
        padding-top: 20px;
    }
}

.second-step{
    background-color: #eeedeb;
    padding-top: 60px;

    &.two{
        button.btn-andro{
            margin-top: 20px; 
        }
        padding-bottom: 50px;
    }

    &.five{
        padding-top: 30px;
        padding-bottom: 30px;
        p{
            margin: 0;
        }
        h1{
            margin: 0;
            padding: 0;
            line-height: 30px;
        }
    }
}

.btn-andro{
    background: none;
    background-color: #a7d06a;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    padding: 8px 25px;
}

.maps{
    border-top: 3px solid #FFFFFF;
}